html {
  font-size: 18px;
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main {
  background: url(./../media/glasses-bg.png);
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background: cadetblue;
  width: 100%;
  position: relative;
  top: 1rem;
  display: flex;
  color: white;
  font-family: helvetica;
  font-size: 1rem;
  justify-content: space-between;
}

.headerLeft, .headerRight {
  display: flex;
  align-items: center;
}

.headerLeft img {
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem
}

.mainText {
  position: relative;
  top: 10rem;
  font-family: helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background: white;
  padding: 1.5rem 5rem;
  float: right;
  left: 2rem;
}

.middle {
  height: 8rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.middleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: helvetica;
  text-align: center;
}

.middleContent img{
  width: 5rem;
}

.info {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  font-family: helvetica;
}

.infoContent {
  width: 35%;
  margin-right: 5%;
  line-height: 1.4;
}

.infoTitle {
  margin-bottom: 1rem;
  background: cadetblue;
  padding: .5rem 1.25rem;
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

footer {
  margin-top: 5rem;
  background: azure;
  padding: 4rem;
  display: flex;
  align-items: center;
  font-family: helvetica;
}

footer img {
  margin-right: 1rem;
  height: 1.5rem;
}


#exams img {
  width: 3.5rem;
}

#fittings {
  margin: 0 6rem;
}

nav p {
  padding: 1rem 2rem 1rem 0;
}

nav {
  display: flex;
}

#menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  header {
    top: 0;
    width: 100%;
  }

  .main {
    height: 22rem;
  }

  .mainText {
    top: 5rem;
    font-size: 1.33rem;
    padding: .75rem 4rem;
    right: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .main {
    background-position: 20%;
    height: 17rem;
  }

  .mainText {
    top: 9rem;
    padding: 1rem 0;
    right: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }

  .navItem {
    display: none;
  }

  #menu {
    display: block;
  }

  .middle {
    margin: 3.77rem 0;
    font-size: .77rem;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .middleContent p {
    margin-top: .5rem;
  }

  #fittings {
    margin: 1.54rem 0;
  }

  .info {
    flex-direction: column;
    font-size: .77rem;
  }

  .infoContent {
    margin: 0;
    width: 100%;
  }

  .infoTitle {
    width: 100%;
  }

  #philosophy {
    margin-bottom: 4rem;
  }
}
